<!DOCTYPE html>
<html>
<head>
<title>用户信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="" />
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script ></script>
</head>

{% block content %}
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
 <h1>所有用户</h1>
<div class="show-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
			{% if users %}
            <table width="600" border="1" align="center">
                <tr>
                    <th align="center" >用户编号</th>
                    <th align="center">用户名</th>
                    <th align="center">联系方式</th>
                    <th align="center">地址</th>
                    <th align="center">会员</th>
                </tr>
            {% for user in users %}
                <tr>
                    <th align="center">{{ user.user_id }}</th>
                    <th align="center">{{ user.user_name }}</th>
                    <th align="center">{{ user.phone }}</th>
                    <th align="center">{{ user.addr }}</th>
                    <th align="center">{{ user.members }}</th>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
</div>

{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
    </div>
</body>
{% endblock %}

</html>